rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção users
    match /users/{userId} {
      allow read, write: if true;
    }

    // Regras para a coleção auth
    match /auth/{userId} {
      allow read, write: if true;
    }

    // Regras para a coleção messages
    match /messages/{messageId} {
      allow read, write: if request.auth != null;
    }

    // Regras para a coleção posts
    match /posts/{postId} {
      allow read, write: if request.auth != null;
    }

    // Regras para a coleção workouts
    match /workouts/{workoutId} {
      allow read, write: if request.auth != null;
    }

    // Regras para a coleção progress
    match /progress/{progressId} {
      allow read, write: if request.auth != null;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /posts/{userId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
} 